*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2f3030;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    height: 550px;
    width: 400px;
    background-color: rgb(20, 1, 20);
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

}

.card{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: #267c65;

    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 1s;
    perspective: 500px;


}



.card::after{

    content: "";
    background-color: rgb(66, 66, 67);
    height: 100px;
    width: 100px;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;

}



.card.flip{
    transform: rotateY(180deg);
}










#reset{
    padding: 7px 16px;
    color: #267c65;
    background: #fff ;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;

}

#reset:focus{
    
    color: #fff;
    background: #267c65 ;
} 

.main
{
    display: flex;
    flex-direction: column;
}
















/* Media Queries for very small screens */
@media (max-width: 411px) {
    .board {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px;
        padding: 6px;
        height: 330px;
        width: 240px;
    }

    .card {
        font-size: 2rem; 
        height: 55px;
        width: 55px;
    }

    .card::after{
    background-color: rgb(66, 66, 67);
    height: 55px;
    width: 55px;
    }

    #reset {
        font-size: 1rem;
        padding: 8px 16px;
        width: 100%;
    }
}